.about-us {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 0;
  .side-offset(30px);

  background-color: fade(#ffad20, 40%);
}

@media (min-width: 770px) {
  .about-us {
    .side-offset(50px);
  }
}

.about-us__title {
  margin: 0;

  background-color: fade(#ffad30, 40%);
}

@media (min-width: 1150px) {
  .about-us__title {
    margin-left: 170px;
  }
}

.about-us__list {
  list-style: none;

  position: relative;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  font-size: 17px;
  line-height: 20px;

  background-color: fade(#ff9dd0, 40%);
}

@media (min-width: 770px) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 670px;
  }
}

@media (min-width: 1150px) {
  .about-us__list {
    width: 690px;

    margin-left: 170px;
  }
}

.about-us__item {
  margin: 0;
  padding: 55px 0 30px 0;

  background-color: fade(#ff9dd0, 40%);
}

@media (min-width: 770px) {
  .about-us__item {
    width: 270px;

    background-color: fade(#ffaad0, 40%);
  }
}

.about-us__item--ecology::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;

  width: 32px;
  height: 37px;

  background-color: transparent;
  background-image: url("../../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: 770px) {
  .about-us__item--ecology {
    order: -1;
  }

  .about-us__item--handmade {
    order: -1;
  }

  .about-us__item--popular {
    order: 2;
  }

  .about-us__item--package {
    order: 2;
  }
}
