.button {
  display: block;
  padding: 15px 30px 12px 30px;

  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #444444;

  border-color: #444444;
  border-width: 2px;
  border-style: solid;

  background-color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }
  &:active {
    color: fade(#ffffff, 30%);
    background-color: #444444;
  }
}
