.catalogue {
  margin: 0;
  margin-top: 30px;
  .side-offset(30px);
}

@media (min-width: 770px) {
  .catalogue {
    margin-top: 75px;
    .side-offset(50px);
  }
}

@media (min-width: 1150px) {
  .catalogue {
    display: flex;
    justify-content: space-between;
    margin-top: 124px;
  }
}

.catalogue__piece {
  margin: 0;
  margin-bottom: 31px;
}

.catalogue__piece:last-child {
  margin-bottom: 0;
}


@media (min-width: 770px) {
  .catalogue__piece {
    margin-bottom: 58px;
  }
}

@media (min-width: 1150px) {
  .catalogue__piece {
    margin-bottom: 0;
  }
}
