.comment-input {
  padding: 7px 0 12px 0;
}

@media (min-width: 770px) {
  .comment-input {
    padding: 49px 50px 49px 220px;

    background-color: #ffffff;
    border-top: 1px solid transparent;
  }
}

@media (min-width: 1150px) {
  .comment-input {
    padding: 49px 225px 45px 225px;
  }
}

.comment-input__name {
  left: 0;

  margin-bottom: 20px;
}

@media (min-width: 770px) {
  .comment-input__name {
    top: 68px;
    left: 50px;

    margin-bottom: 0;
  }
}

@media (min-width: 1150px) {
  .comment-input__name {
    top: 62px;
    left: 111px;

    margin-bottom: 0;
  }
}

.comment-input__field {
  width: 100%;
  min-height: 0;
  min-width: 0;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  outline: none;
  resize: none;

  border: 2px solid #000000;
}
