.contacts {
  position: relative;
  margin: 0;
  padding: 40px 0 40px 0;

  background-color: fade(#ff3311, 30%);
}

@media (min-width: 770px) {
  .contacts {
    padding: 60px 0 55px 0;
  }
}

@media (min-width: 1150px) {
  .contacts {
    padding: 70px 530px 100px 170px;
  }
}

.contacts__wrapper {
  margin: 0;
  padding: 0;

  background-color: fade(#186c0b, 30%);
}

@media (min-width: 1150px) {
  .contacts__wrapper {
    margin-top: 75px;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;

  background-color: fade(#aa33bb, 30%);
}

@media (min-width: 770px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__table-info {
  width: 260px;

  margin: 0;
  margin-top: 15px;
  padding: 0;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  border-collapse: collapse;
  border: none;

  background-color: fade(#1173bb, 30%);
}

@media (min-width: 770px) {
  .contacts__table-info {
    width: 670px;
  }

  .contacts__table-info tbody {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1150px) {
  .contacts__table-info {
    width: 350px;
  }

  .contacts__table-info tbody {
    display: table;
  }
}

.contacts__table-row:last-child {
  background-color: lightblue;
}

.contacts__table-cell {
  padding: 5px 0 20px 0;

  vertical-align: top;
}

.contacts__table-value {
  width: 183px;
  box-sizing: border-box;
}

.contacts__table-field {
  width: 77px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (min-width: 770px) {
  .contacts__table-value {
    width: 257px;
    padding-right: 20px;
  }
}

@media (min-width: 1150px) {
  .contacts__table-value {
    width: 273px;
    padding-right: 20px;
  }
}

.contacts__link {
  display: inline-block;

  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:focus {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    color: fade(#46c1ae, 30%);
    border-color: fade(#46c1ae, 10%);
  }
}

.contacts__map {
  width: 100%;
  height: 456px;
  margin-left: -30px;
  text-align: center;

  background-color: fade(#55ffaa, 30%);
}

@media (min-width: 770px) {
  .contacts__map {
    margin-left: 0;
  }
}

@media (min-width: 1150px) {
  .contacts__map {
    width: 530px;
    height: 460px;
    position: absolute;
    top: 60px;
    right: 0;

    background-color: fade(#7cd2f9, 30%);
  }
}

.contacts__map img {
  width: 320px;
}

@media (min-width: 770px) {
  .contacts__map img {
    margin-left: 0;
  }
}

.contacts__write-us {
  margin: 0;
  margin-top: 40px;
}

@media (min-width: 770px) {
  .contacts__write-us {
    width: 230px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .contacts__write-us {
    width: 230px;
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
  }
}
