.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185px;
  padding: 23px 0;

  font-size: 19px;
  line-height: 19px;
}

@media (min-width: @tablet) {
  .copyright {
    padding: 0;

    border: none;
  }
}

.copyrignt__text {
  display: block;
  padding: 8px 0 8px 0;
}

.copyright__link {
  display: block;
}

.copyright__icon {
  width: 28px;
  height: 34px;

  fill: @light-green;
}
