.copyright {
  width: 183px;
  
  padding: 0;

  background-color: green;
}
.copyright__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 8px 0 8px 0;

  font-size: 19px;
  line-height: 19px;
  text-align: center;
  background-color: fade(#aaff33, 30%);
}

.copyright__link {
  display: block;
}

.copyright__icon {
  fill: @light-green;
}
