.item {
  .border(1px; @gray);
}

@media (min-width: 770px) {
  .item {
    display: flex;
    background-color: lightblue;
  }
}

@media (min-width: 1150px) {
  .item {
    display: block;
  }
}

.item__link {
  display: block;

  text-decoration: none;

  background-color: fade(green, 30%);
}

.item__image-container {
  width: 100%;
  height: auto;
}

@media (min-width: 770px) {
  .item__image-container {
    width: 335px;
    height: 333px;
  }
}

@media (min-width: 1150px) {
  .item__image-container {
    width: 315px;
    height: 461px;
  }
}

.item__text-wrapper {
  width: 100%;
}

@media (min-width: 770px) {
  .item__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1150px) {
  .item__text-wrapper {
    display: block;
  }
}

.item__wrapper {
  background-color: fade(#cc33bb, 30%);
}

.item__info {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.item__to-buy {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 22px;
  padding-bottom: 28px;

  font-size: 15px;
  line-height: 30px;

  .border-top(1px; @gray);

  background-color: fade(green, 30%);
}

.item__price {
  display: block;
}
