.item-table {
  width: 100%;
  padding: 0;

  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  border-collapse: collapse;
  border: none;

  background-color: fade(#0b698c, 30%);
}
.item-table__row {
  
}
.item-table__cell {
  padding: 10px 0;
}
.item-table__field {
  width: 36.54%;
}
.item-table__value {
  width: 63.46%;
}
