.item {
  border: 1px solid #ededed;
}

.item__link {
  display: block;

  text-decoration: none;

  background-color: fade(green, 30%);
}

.item__image-container {
  width: 100%;
  height: auto;
}

.item__info {
  font-weight: normal;
  font-size: 13px;
  line-heighr: 24px;
}

.item__to-buy {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 22px;
  padding-bottom: 28px;

  font-size: 15px;
  line-height: 30px;

  border-top: 1px solid #ececec;

  background-color: fade(green, 30%);
}

.item__price {
  display: block;
}
