.main-nav {
  position: relative;

  margin: 0 auto;
  padding: 0;

  font-size: 17px;
  line-height: 24px;

  .border-top(1px; @gray);
}

@media (min-width: @tablet) {
  .main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;

    border-top: none;
  }
}

@media (min-width: @desktop) {
  .main-nav {
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
}

.main-nav__logo {
  display: block;
  width: 87px;
  height: 36px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 22px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .main-nav__logo {
    width: 114px;
    height: 47px;
    margin-left: 50px;
    margin-right: 20px;
  }
}

@media (min-width: @desktop) {
  .main-nav__logo {
    width: 149px;
    height: 72px;
    margin: 9px 100px 6px 20px;
  }
}

.main-nav__logo-image {
  display: block;
  width: 87px;
  height: 36px;
  padding: 0;
}

@media (min-width: @tablet) {
  .main-nav__logo-image {
    width: 114px;
    height: 47px;
  }
}

@media (min-width: @desktop) {
  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 27px;
  z-index: 2;

  width: 27px;
  height: 26px;

  background-color: #ffffff;
  border: none;

  cursor: pointer;
}

.main-nav__toggle--to-open::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 3px;

  width: 20px;
  height: 2px;

  box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
}

.main-nav__toggle--to-open:active::before {
  background-color: @light-green;
  box-shadow: 0 6px 0 0 @light-green, 0 12px 0 0 @light-green;
}

.main-nav__toggle--to-close::before,
.main-nav__toggle--to-close::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 0;

  width: 27px;
  height: 2px;

  background-color: #221f1f;
}

.main-nav__toggle--to-close::before {
  transform: rotate(45grad);
}

.main-nav__toggle--to-close::after {
  transform: rotate(-45grad);
}

.main-nav__toggle--to-close:active::before,
.main-nav__toggle--to-close:active::after {
  background-color: @light-green;
}

.main-nav__toggle--nojs {
  display: none;
}

@media (min-width: @tablet) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
}

@media (min-width: @tablet) {
  .main-nav__list {
    margin-top: 0;
  }
}

@media (min-width: @desktop) {
  .main-nav__list {
    border-top: none;
  }
}

.main-nav__list--closed {
  display: none;
}

.main-nav__list--opened {
  display: block;
}

.main-nav__cart {
  padding-top: 30px;
  padding-bottom: 30px;
  .side-offset(30px);

  .border-top(1px; @gray);
}

@media (min-width: @tablet) {
  .main-nav__cart {
    border-top: none;
  }
}

.main-nav__cart-icon {
  margin-right: 20px;
}

.main-nav__block {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.main-nav__block--lightgray {
  background-color: #f9f9f9;
}

.main-nav__block--darkgray {
  background-color: #f1f1f1;
}

@media (min-width: @tablet) {
  .main-nav__block {
    display: block;
    order: 2; 
    flex-grow: 1;
    box-sizing: border-box;
  }
}

@media (min-width: 1150px) {
  .main-nav__block {
    width: 100%;
    border: none;
  }
}

.main-nav__promo-wrapper {
  display: flex; 
  border-top: 1px solid #e7e7e7;
}

@media (min-width: @tablet) {
  .main-nav__promo-wrapper {
    justify-content: space-between;}
}

@media (min-width: @desktop) {
  .main-nav__promo-wrapper {
    width: 1150px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-nav__promo-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop) {
  .main-nav__promo-list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 20px;
    padding-right: 70px;
    box-sizing: border-box;
  }
}

.main-nav__promo-item {
  margin: 0;
  padding: 15px 30px;
}

.main-nav__promo-text {
  display: none;
  margin: 0;
  padding: 15px 50px;

  font-weight: 400;
  text-align: right;
}

@media (min-width: @tablet) {
  .main-nav__promo-text {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: @desktop) {
  .main-nav__promo-text {
    max-width: 30%;
  }
}

.main-nav__link[href] {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: fade(#000000, 60%);
  }

  &:focus {
    color: fade(#000000, 60%);
  }

  &:active {
    color: fade(#000000, 30%);
  }
}
