.page {
  margin: 0;
  padding: 0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;

  background-image: url("http://habrastorage.org/files/97d/5df/2eb/97d5df2ebcf24bf489a37010e8157862.png");
  background-color: #ffffff;
}
