.page-header {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .page-header {
    width: 100%;
  }
}

.page-header__content {
  position: relative;

  padding-top: 0.1px;
  padding-bottom: 0.1px;

  background-color: #f1f1f1;
  .border-top(1px; red)
}

@media (min-width: @tablet) {
  .page-header__content {
    .side-offset(50px);

    border-top: none;
  }
}

@media (min-width: @desktop) {
  .page-header__content {
    margin-top: 0;
  }
}

.page-header__title {
  padding: 0;
  .centre(30px; @mobile);
  margin-top: 70px;
  margin-bottom: 75px;
  box-sizing: border-box;
}

@media (min-width: @tablet) {
  .page-header__title {
    width: 700px;
    margin-top: 40px;
    margin-bottom: 85px;
    padding: 0 80px;
  }
}

@media (min-width: @desktop) {
  .page-header__title {
    width: 1050px;
    margin-bottom: 107px;
    padding: 0 210px;
  }
}
