.page-content {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: @tablet) {
  .page-content {
    width: 100%;
  }
}

@media (min-width: @desktop) {
  .page-content {
    width: 100%;
  }
}

.page-content__unit {
  width: 100%;
  .border-bottom(5px; @gray);
}
