.reviews {
  margin: 0;
  .centre(30px; @mobile);
  padding-top: 25px;
  padding-bottom: 48px;

  box-sizing: border-box;

  border-bottom: 1px solid transparent;
}

@media (min-width: @tablet) {
  .reviews {
    position: relative;

    .centre(50px; @tablet);
    padding-top: 72px;
    padding-bottom: 137px;

    background-image: url("../img/review@1x-opt.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url("../img/review@2x-opt.jpg");
  }
}

@media (min-width: @desktop) {
  .reviews {
    width: 1150px;
    padding-top: 71px;
    padding-bottom: 190px;
    .side-offset(50px);

    background-position: 50px 0;
  }

  .reviews::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50px;

    width: 1050px;
    height: 24px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 25px 0;
    background-size: 100% 100%;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: @tablet) {
  .reviews__title {
    margin-right: 205px;
    margin-bottom: 49px;
  }
}

@media (min-width: @desktop) {
  .reviews__title {
    margin-bottom: 50px;
    padding-left: 175px;
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 38px;
}

@media (min-width: @tablet) {
  .reviews__list {
    position: relative;

    margin-bottom: 0;
  }
}

@media (min-width: @desktop) {
  .reviews__list {
    margin-left: 175px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: 400;
}

@media (min-width: @tablet) {
  .reviews__item {
    margin-bottom: 0;
  }
}

.reviews__content {
  margin: 0;
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 30px;
}

@media (min-width: @tablet) {
  .reviews__content {
    margin-bottom: 58px;
    padding-right: 20px;

    font-size: 17px;
  }
}

@media (min-width: @desktop) {
  .reviews__content {
    margin-bottom: 38px;
    padding-right: 102px;
  }
}

.reviews__source {
  display: block;
  margin: 0;
  padding: 0;

  font-style: normal;
}

@media (min-width: @tablet) {
  .reviews__source {
    margin-right: 200px;
  }
}

.reviews__name {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: @tablet) {
  .reviews__name {
    display: block;
    font-size: 18px;
  }
}

@media (min-width: @desktop) {
  .reviews__name {
    font-size: 17px;
  }
}

.reviews__email {
  display: block;

  font-size: 17px;
  line-height: 30px;
}

.reviews__buttons {
  font-size: 17px;
}

@media (min-width: @tablet) {
  .reviews__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: @tablet) {
  .reviews__send-review {
    position: absolute;
    top: 78px;
    right: 50px;

    width: 175px;
  }
}

@media (min-width: @desktop) {
  .reviews__send-review {
    position: absolute;
    top: 81px;
    right: 50px;

    width: 175px;
  }
}
