.reviews {
  position: relative;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;

  .side-offset(30px);

  background-color: fade(#aadd30, 40%);
  border-bottom: 1px solid transparent;
}

@media (min-width: 770px) {
  .reviews {
    .side-offset(50px);
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.reviews__title {
  margin: 0;

  background-color: fade(#ff1130, 40%);
}

@media (min-width: 770px) {
  .reviews__title {
    margin-right: 205px;
  }
}

@media (min-width: 1150px) {
  .reviews__title {
    margin-left: 170px;
  }
}

.reviews__list {
  margin: 30px 0 40px 0;
  position: relative;

  background-color: fade(#ff2200, 30%);
}

@media (min-width: 770px) {
  .reviews__list {
    margin-top: 50px;
  }
}

@media (min-width: 1150px) {
  .reviews__list {
    margin-left: 170px;
  }
}

.reviews__item {
  margin: 0 0 30px 0;
  padding: 0;

  background-color: fade(#023299, 30%);
}

@media (min-width: 770px) {
  .reviews__item {
    margin-bottom: 0;
  }
}

.reviews__content {
  margin: 0 0 30px 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  background-color: fade(#4477ff, 30%);
}

@media (min-width: 770px) {
  .reviews__content {
    margin-bottom: 55px;
    padding-right: 35px;
  }
}

.reviews__source {
  display: block;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 17px;

  background-color: fade(#4477ff, 30%);
}

@media (min-width: 770px) {
  .reviews__source {
    margin-right: 200px;
  }
}

.reviews__name {
  line-height: 24px;
}

@media (min-width: 770px) {
  .reviews__name {
    display: block;
    font-size: 18px;
  }
}

.reviews__email {
  font-weight: normal;
  line-height: 30px;
}

@media(min-width: 770px) {
  .reviews__email {
    display: block;
  }
}

@media(min-width: 770px) {
  .reviews__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media(min-width: 770px) {
  .reviews__send-review {
    width: 170px;
    position: absolute;
    top: 80px;
    right: 50px;
  }
}
