.reviews {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;

  background-color: fade(#ffdd30, 40%);
  border-bottom: 1px solid transparent;
}

.reviews__title {
  margin: 0;

  background-color: fade(#ff1130, 40%);
}

.reviews__list {
  margin: 30px 0 40px 0;

  background-color: fade(#ff2200, 30%);
}

.reviews__item {
  margin: 0 0 20px 0;
  padding: 0;

  background-color: fade(#023299, 30%);
}

.reviews__content {
  margin: 0 0 30px 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  background-color: fade(#4477ff, 30%);
}

.reviews__source {
  display: block;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 17px;

  background-color: fade(#4477ff, 30%);
}

.reviews__name {
  line-height: 24px;
}

.reviews__email {
  font-weight: normal;
  line-height: 30px;
}

.reviews__button {
  margin: 0;
}
