.site-cart {
  display: block;

  text-decoration: none;
  color: #000000;
  &:hover {
    color: fade(#000000, 60%);
  }
  &:focus {
    color: fade(#000000, 60%);
  }
  &:active {
    color: fade(#000000, 30%);
  }

  background-color: fade(#92258b, 40%);
}
.site-cart__icon {
  fill: #d3d2d2;
}