.site-list {
  list-style: none;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
}

@media (min-width: @tablet) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 55.844155844%;
    padding-left: 50px;
    box-sizing: border-box;

    font-size: 15px;

    .border-top(1px; @gray);

    &--lightgray {
      background-color: #f9f9f9;
    }

    &--darkgray {
      background-color: #f1f1f1;
    }
  }
}

@media (min-width: @desktop) {
  .site-list {
    flex-wrap: wrap;
    order: -1;
    width: 480px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 17px;

    background-color: #ffffff;
    border-top: none;
  }
}

.site-list__item {
  padding: 25px 30px 29px 30px; /*20px 75px;*/

  .border-top(1px; @gray);
}

@media (min-width: @tablet) {
  .site-list__item {
    padding: 0;
    padding-top: 15px;
    padding-right: 37px;
    padding-bottom: 15px;

    border-top: none;
  }
}

@media (min-width: @desktop) {
  .site-list__item {
    padding: 30px 35px 35px 35px;

    .border-right(1px; @gray);
  }

  .site-list__item:last-child {
    border-right: none;
  }
}

.site-list__link {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding-left: 45px;
  box-sizing: border-box;
}

@media (min-width: @tablet) {
  .site-list__link {
    width: auto;
    padding-left: 0;
  }
}
