.site-search {
  display: block;

  color: #000000;
  text-decoration: none;

  &:hover {
    color: fade(#000000, 60%);

    path {
      fill: @light-green;
    }
  }

  &:focus {
    color: fade(#000000, 60%);

    path {
      fill: @light-green;
    }
  }

  &:active {
    color: fade(#000000, 30%);

    path {
      fill: fade(@light-green, 30%);
    }
  }
}

.site-search__icon {
  padding-left: 3px;
}

@media (min-width: @tablet) {
  .site-search__icon {
    margin-right: 0;
  }
}

.site-search__icon path {
  fill: #d3d2d2;
}

@media (min-width: @tablet) {
  .site-search__text {
    .visually-hidden();
  }
}
