.site-cart {
  display: block;

  color: #000000;
  text-decoration: none;

  &:hover {
    color: fade(#000000, 60%);
  }

  &:focus {
    color: fade(#000000, 60%);
  }

  &:active {
    color: fade(#000000, 30%);
  }
}

.site-cart:hover .site-cart__icon,
.site-cart:focus .site-cart__icon {
  fill: @light-green;
}

.site-cart:active .site-cart__icon {
  fill: fade(@light-green, 30%);
}

.site-cart__icon {
  fill: #d3d2d2;
}
