.slider {

}
.slider__slide {
}
.slider__button {
  display: inline-block;
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #ececec;

  &--prev {
    margin-right: -5px;
    border-right: none;
  }
}
