.social {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;

  width: 142px;
  margin: 0 auto;
  padding: 25px 0 15px 0;

  font-size: 0;
}

@media (min-width: @tablet) {
  .social {
    padding-top: 28px;
  }
}

.social__item {
  display: block;

  margin: 0 40px 10px 0;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__item--ig {
  width: 22px;
  height: 22px;
}

.social__item--fb {
  width: 15px;
  height: 28px;
}

.social__item--twitter {
  width: 24px;
  height: 22px;
}

.social__item[href]:hover .social__item-icon {
  fill: #46c1ae;
}

.social__item[href]:focus .social__item-icon {
  fill: #46c1ae;
}

.social__item[href]:active .social__item-icon {
  fill: #bde3dd;
}
