.social {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0;
  
  background-color: fade(#ff3311, 30%);  
}
.social__item {
  display: block;

  margin-right: 25px;

  text-align: center;
  
  &:last-child {
    margin-right: 0;
  }

  background-color: fade(#003381, 30%); 
}
