.specialties {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet) {
  .specialties {
    display: flex;
    flex-direction: row;/*NEW*/
    flex-grow: 0;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop) {
  .specialties {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.specialties__item {
  padding: 0;
}

@media (min-width: @tablet) {
  .specialties__item {
    width: 50%;
    box-sizing: border-box;
  }
}

.specialties__link {
  position: relative;

  display: block;
  padding: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  &--light-green {
    margin-top: 122px;

    background-color: @light-green;
  }

  &--dark-green {
    margin-bottom: 5px;

    background-color: @dark-green;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 20px;
    right: 32px;

    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    padding-bottom: 36px;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }

  &--light-green:hover {
    margin-top: 117px;
    background-color: #59d5bc;
  }

  &--light-green:focus {
    margin-top: 117px;
    background-color: #59d5bc;
  }

  &--light-green:active {
    background-color: #59d5bc;
  }

  &--dark-green:hover {
    margin-bottom: 0;
    background-color: #46c1ae;
  }

  &--dark-green:focus {
    margin-bottom: 0;
    background-color: #46c1ae;
  }

  &--dark-green:active {
    background-color: #46c1ae;
  }
}

.specialties__link--light-green::after {
  width: 41px;
  height: 63px;

  background-image: url("../img/interior.svg");
}

.specialties__link--dark-green::after {
  width: 60px;
  height: 60px;

  background-image: url("../img/toy.svg");
}

.specialties__link:hover::after,
.specialties__link:focus::after {
  bottom: 25px;
  opacity: 0.7;
}

.specialties__link:active::after {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .specialties__link {
    margin-top: 373px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-left: 34px;
    padding-bottom: 40px;

    font-size: 20px;
    line-height: 30px;
  }

  .specialties__link::after {
    bottom: 32px;
  }

  .specialties__link:hover,
  .specialties__link:focus {
    margin-top: 368px;
    padding-bottom: 45px;
  }

  .specialties__link:hover::after,
  .specialties__link:focus::after {
    bottom: 37px;
  }
}

@media (min-width: @desktop) {
  .specialties__link {
    margin-top: 361px;
    padding-bottom: 30px;
    padding-left: 37px;
  }

  .specialties__link:hover,
  .specialties__link:focus {
    margin-top: 356px;
    padding-bottom: 35px;
  }
}

.specialties__link-wrapper {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .specialties__link-wrapper {
    width: auto;
  }
}
