.specialties {
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet) {
  .specialties {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
}

.specialties__item {
  padding: 0;
}

@media (min-width: @tablet) {
  .specialties__item {
    width: 50%;
    box-sizing: border-box;
  }
}

.specialties__link {
  display: block;
  padding: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  &:active {
    color: fade(#ffffff, 30%);
  }

  &--light-green {
    background-color: @light-green;
  }

  &--dark-green {
    background-color: @dark-green;
  }

  &--light-green:hover {
    background-color: #59d5bc;
  }

  &--light-green:focus {
    background-color: #59d5bc;
  }

  &--light-green:active {
    background-color: #59d5bc;
  }

  &--dark-green:hover {
    background-color: #46c1ae;
  }

  &--dark-green:focus {
    background-color: #46c1ae;
  }

  &--dark-green:active {
    background-color: #46c1ae;
  }
}

@media (min-width: @tablet) {
  .specialties__link {
    padding-top: 29px;
    padding-left: 34px;
    padding-bottom: 40px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop) {
  .specialties__link {
    padding-bottom: 30px;
    padding-left: 37px;
  }
}

.specialties__link-wrapper {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .specialties__link-wrapper {
    width: auto;
  }
}
