.to-customize-form {
  margin: 0;
  padding: 0 0 55px 0;
  background-color: fade(#ffa3a1, 30%); 
}
.to-customize-form__section {
  margin: 0 0 30px 0;
  padding: 0;

  border: none;
  border-top: 1px solid #62d1ba;
  background-color: fade(#d9c7a4, 30%);
}
.to-customize-form__section-name {
  width: 63px;
  font-size: #63d1bb;
  color: #63d1bb;
  text-transform: uppercase;
}
.to-customize-form__label {
  font-size: 17px;
  line-height: 18px;
}
.to-customize-form__button {
  width: 100%;
}
