.week-item {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 42px;
  .side-offset(30px);
}

@media (min-width: 770px) {
  .week-item {
    padding-top: 50px;
    .side-offset(50px);
    padding-bottom: 70px;
  }
}

@media (min-width: 1150px) {
  .week-item {
    position: relative;

    padding-top: 70px;
    padding-bottom: 95px;
  }
}

.week-item__title-wrapper {
  position: relative;
  z-index: 5;

  margin-bottom: 30px;
}

@media (min-width: 770px) {
  .week-item__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 55px;
  }
}

@media (min-width: 1150px) {
  .week-item__title-wrapper {
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 45px;
  }
}

.week-item__title {
  margin: 0;
  padding: 0;
}

@media (min-width: 770px) {
  .week-item__title {
    width: 530px;
  }
}

.week-item__status {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 20px;
  color: @light-green;
  text-transform: uppercase;
}

@media (min-width: 770px) {
  .week-item__status {
    width: 70px;
    padding: 0 27px;
    padding-top: 12px;

    line-height: 18px;
    text-align: center;
  }
}

@media (min-width: 1150px) {
  .week-item__status {
    width: 170px;
    box-sizing: border-box;
    order: -1;
  }
}

@media (min-width: 770px) {
  .week-item__wrapper {
    position: relative;

    padding-right: 335px;
  }
}

@media (min-width: 1150px) {
  .week-item__wrapper {
    position: static;

    padding-right: 525px;
    padding-left: 175px;
  }
}

.week-item__text {
  margin-bottom: 26px;
}

@media (min-width: 770px) {
  .week-item__text {
    margin-bottom: 52px;
  }
}

@media (min-width: 1150px) {
  .week-item__text {
    margin-bottom: 117px;
  }
}

.week-item__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: 770px) {
  .week-item__description {
    width: 290px;
    margin-bottom: 40px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .week-item__description {
    margin-bottom: 55px;
  }
}

.week-item__info {
  margin: 0;
}

.week-item__image {
  width: 260px;
}

@media (min-width: 770px) {
  .week-item__image {
    position: absolute;
    top: 0;
    right: 0;

    width: 334px;
    height: 403px;
  }
}

@media (min-width: 1150px) {
  .week-item__image {
    width: 525px;
    height: 635px;

    top: 70px;
    right: 50px;
  }
}

.week-item__image img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 770px) {
  .week-item__buy {
    width: 291px;
  }
}

.week-item__price {
  margin: 25px 0;
  padding: 0;

  text-align: center;
}

@media (min-width: 770px) {
  .week-item__price {
    margin: 30px 0;
  }
}

.week-item__button {
  margin: 0;
}
