.week-item {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 42px;
  background-color: fade(#ff9dd0, 40%);
}

.week-item__title {
  margin: 0 0 7px 0;
  padding: 0;

  background-color: fade(#228811, 30%);
}

.week-item__status {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-item__description {
  margin: 25px 0 0 0;
  padding: 0;

  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.week-item__info {
  margin: 15px 0 27px 0;
}

.week-item__price {
  margin: 25px 0;

  text-align: center;

  background-color: fade(#279f44, 50%);
}

.week-item__button {
  margin: 0;
}
