.border(@width; @color) {
  border: @width solid @color;
}

.border-top(@width; @color) {
  border-top: @width solid @color;
}

.border-bottom(@width; @color) {
  border-bottom: @width solid @color;
}

.border-left(@width; @color) {
  border-left: @width solid @color;
}

.border-right(@width; @color) {
  border-right: @width solid @color;
}

.visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.side-offset(@padding) {
  padding-left: @padding;
  padding-right: @padding;
}

.centre(@padding; @width) {
  width: @width;
  margin-right: auto;
  margin-left: auto;
  padding-left: @padding;
  padding-right: @padding;
}

